<!-- <section class="h-100 gradient-form" style="background-color: black;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <form>
                    <p>Extraer informacion desde camara web</p>
                    <div class="form-outline mb-4">
                      <div class="col-md-12"><button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 btn-center" type="button" (click)="ir_reconocimiento_camara()">camara</button></div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="card-body p-md-5 mx-md-4">
                  <form>
                    <p>Extraer Informacion desde archivo local</p>
                    <div class="form-outline mb-4">
                      <div class="col-md-12"><button class="btn btn-primary btn-block fa-lg gradient-custom-3 mb-3 btn-center" type="button" (click)="ir_reconocimiento_file()">archivo</button></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="h-100 gradient-form" style="background-color: black;">
    <div class="container py-5 h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-5" >
          <div class="card rounded-3 text-black" style="background-color: black;">
            <div class="row g-0">
              <div class="col-lg-12">
                <div class="card-body p-md-5 mx-md-4">
                  <form>
                    <p style="color:white; font-size:15px; margin-left: 30px;">Extraer informacion desde el dispositivo</p>
                    <div class="form-outline mb-4">
                      <div style="margin-left:100px;"class="col-md-12"><button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 btn-center" type="button" (click)="ir_reconocimiento_file()">empezar</button></div>
                    </div>
                  </form>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>